@font-face {
  font-family: 'CourierPrime';
  src: url('../fonts/CourierPrime.eot');
  src: url('../fonts/CourierPrime.eot') format('embedded-opentype'),
       url('../fonts/CourierPrime.woff2') format('woff2'),
       url('../fonts/CourierPrime.woff') format('woff'),
       url('../fonts/CourierPrime.ttf') format('truetype'),
       url('../fonts/CourierPrime.svg#CourierPrime') format('svg');
}

html {
  font-family: "CourierPrime";
}
